<div class="container" style="height: 100vh;">
  <div class="row justify-content-center" style="height: 100%;">

    <div style="height: 100%;">

      <h2 class="text-center mt-5 mb-5">ようこそ <strong>Your Favorite Device</strong> へ！！</h2>

      <p class="text-center" style="line-height: 3rem">
        ここは、自分の使っているパソコンデバイス(周辺機器)のレビューサイトです</br>
        購入予定のデバイスを調べたり、自分の求めている機能を持ったデバイスを探すなど、使い方は様々です</br>
        このサイトは会員登録をしなくても投稿は見ることはできますが、新規投稿は行えません</br>
        新規投稿をする場合はこちらのリンクから<%= link_to "ご登録", new_customer_registration_path %>をお願いします。
      </p>

    </div>

  </div>
</div>
