<div class="container" style="height: 100vh;">
  <div class="row justify-content-center" style="height: 100%;">

    <div style="height: 100%;">

      <h2 class="text-center mt-5 mb-5">投稿内容</h2>

    </div>

  </div>
</div>
